@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
   display: flex;
   height: 100%;
   background-color: #fafafa;
}
.wrapper { /*DIV QUE ENGLOBA TODA AREA DO MENU*/
    position: relative;
    display: flex;
    height: 100%;
}
.wrapper .sidebar {  /*AREA DO MENU*/
    position: relative;
    width: 230px;
    min-height: 100vh;
    background-color: #687acc;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.sidebar.active{
    width: 105px;
}
.sidebar .sidebar-header {
    text-align: center;
    padding: 20px;
    background: #5266be;
    color: #ffffff;
}
.sidebar .sidebar-header h3::before{
    content: 'Nilkeson';
    font-size: 25px;
    font-weight: 600;
    
}
.sidebar .sidebar-header h3.active::before{
    content: 'N';
}

.sidebar .ul{
    width: 100%;
    margin-top: 20px;
    list-style: none;
}
.sidebar .ul li.active{
    background-color: #5266be;
}
.sidebar.active ul{
    margin-top:15px;
}

.sidebar .ul li{
    position: relative;
    cursor: pointer;
}
.sidebar .ul li a{
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
}
.sidebar.active ul li a{
    font-size: 0.80rem;
    display: flex;
    align-items: center;
    line-height: normal;
    padding: 20px 10px;
}
.sidebar .ul li a:hover{
    background: #5266be;
    transition: 0.3s;
}
.sidebar .ul li .icon{
    margin-right: 10px;
}
.sidebar.active .ul li .icon{
    margin-right: 7px;
}

.title{
    margin-right: 10px;
}


.sidebar .ul li .ul-sub-menu-profile {
    background-color: #5266be;
    display: none;
    transition: 0.5s;
}
.sidebar .ul li .ul-sub-menu-profile.show{
    display: block;
}
.sidebar .ul li .ul-sub-menu-profile li{
    width: 100%;
    height: 30px;
}

.sidebar .ul li .ul-sub-menu-profile li a {
    width: 100%;
    padding-left: 60px;
    font-size: 14px;
    height: 30px;
    line-height: 10px;
}
.sidebar.active .ul li .ul-sub-menu-profile li{
    height: 40px;
}
.sidebar.active .ul li .ul-sub-menu-profile li a {
    padding-left: 30px;
    margin-top: -25px;
    
}
.sidebar .ul li .ul-sub-menu-profile li a:hover {
    background-color: #FFF;
    color: #687acc;
}

/**********BUTÃO TOGGLE************/
.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 20px);
    right: -20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #ffffff; 
    background-color: #687acc;
}
.toggle::before {
    display: none;
}
.toggle::before{
    font-family: "Font Awesome 5 Solid";
    color: #FFF;
    content: '\f053';
}
.fa-chevron-right{
    color: #FFF;
}
.toggle.active::before{
    content: '\f054';
}

.fa-chevron-left {
    color: #FFF;
}

.toggle-profile #li-a::before{
    display: none;
}

.toggle-profile #li-a::before{
    font-family: "Font Awesome 5 Solid";
    content: '\f0dd';
}
.fa-sort-down{
    position: relative;
    left: 60px;
}

/*Conteudo*/
.content{
    width: 100%;
    padding: 20px;
    min-height: 100%;
    transition: all 0.3s;
    overflow-x: auto;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    background: #f8f9fa;
    border: none;
    border-radius: 0;
    margin-bottom: 55px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
}
.navbar .container-fluid{
    font-size: 2em;
    font-weight: 600;
    color: #2196f3;
}

.area-buttons-filter{
    display: flex;
    width: 100%;
    height: 87px;
}
.area-buttons-filter .area-button-addCategoria{
    flex: 1;
}
.area-buttons-filter .area-filter-table{
    flex: 1;
}
.btn{
    padding: 6px 0;
    width: 145px;
    background-color: #0070ff;
    border: 0;
    border-color: #007bff;
    border-radius: 3px;
    color: #FFF;
    font-size: .90rem;
    cursor: pointer;
    transition: ease .3s;
}

.btn.btn-categoria{
    margin-left: 15px;
}
.btn.btn-categoria:hover{
    background-color: #0063ce;
    transition: ease .3s;
}
.area-filter-table{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}
.area-filter-table input{
    width: 190px;
    padding: 1px;
    font-size: .90rem;
}
.area-filter-table select{
    height: 30px;
    font-size: .90rem;
    margin-right: 15px;
}

/*TABELA CATEGORIA*/
.table-responsivel{
    width: 100%;
    /*background-color: #0063ce;*/
    margin-top: 23px;
    padding: 15px;
}

.tabela{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

.tabela th {
    display: table-cell;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
}
.tabela th {
    position: relative;
    padding: 10px 10px;
    border: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    
}

/*********MODAL************/

.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.479);
}
.modal .modal-dialogo{
    width: 455px;
    min-height: auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.541);
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
    outline: none;
}
.modal .modal-dialogo .modal-header{
    height: 92px;
    line-height: 92px;
    border-bottom: 1px solid #e2e2e2;
}
.modal .modal-dialogo .modal-header h4{
    font-size: 22px;
    margin-left: 50px;
    font-weight: 500;
    color: #47b1db;
}
.modal .modal-dialogo .modal-body{
    padding: 30px 50px;
    border-bottom: 1px solid #e2e2e2;
}
.modal .modal-dialogo .modal-body .form-group{
    width: 100%;
}

.modal .modal-dialogo .modal-body .form-group input{
    width: 100%;
    margin-top: 7px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}
.modal .modal-dialogo .modal-body .form-group input:focus{
    box-shadow: 0 0 0 3px #a8cff0;
    border: 1px solid #47b1db;
}

.modal .modal-dialogo .modal-body .form-group .btn-salvar-categoria{
    width: 100%;
    margin-top: 20px;
    background-color: #28a745;
    border-color: #28a745;
}
.modal .modal-dialogo .modal-body .form-group .btn-salvar-categoria:hover{
    background-color: #228038;
}
.modal .modal-dialogo .modal-footer{
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 80px;
}
.modal .modal-dialogo .modal-footer .btn-cancelar-categoria{
    width: 90px;
    background-color: #dc3545;
}
.modal .modal-dialogo .modal-footer .btn-cancelar-categoria:hover{
    width: 90px;
    box-shadow: 0 0 0 3px #f34b5cb2;
    background-color: #b32a38;
}

.modal .modal-dialogo .modal-footer .btn-salvar-categoriaRemover{
    width: 90px;
}
.modal .modal-dialogo .modal-footer .btn-salvar-categoriaRemover:hover{
    background-color: #0053c0;
    box-shadow: 0 0 0 3px #338bff;
}

.modal .modal-dialogo .modal-footer .btn-cancelar-categoriaRemover{
    width: 90px;
    background-color: #ffffff;
    color: #000;
}
.modal .modal-dialogo .modal-footer .btn-cancelar-categoriaRemover:hover{
    box-shadow: 0 0 0 3px #9ec8ff;
}

/*********PROGRESS BAR***********/
#modalProgress{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.253);
}
@keyframes ldio-xxms25nl8mj {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-xxms25nl8mj div {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border: 10px solid #1683cc;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-xxms25nl8mj div {
  animation: ldio-xxms25nl8mj 1s linear infinite;
  top: 98.5px;
  left: 98.5px
}
.loadingio-spinner-rolling-72td6b9ryok {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-xxms25nl8mj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xxms25nl8mj div { box-sizing: content-box; }
/* generated by https://loading.io/ *