@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
   display: flex;
   min-height: 100vh;
}
.wrapper { /*DIV QUE ENGLOBA TODA AREA DO MENU*/
    position: relative;
    display: flex;
}
.wrapper .sidebar {  /*AREA DO MENU*/
    position: relative;
    width: 230px;
    height: 100vh;
    background-color: #687acc;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.sidebar.active{
    width: 105px;
}
.sidebar .sidebar-header {
    text-align: center;
    padding: 30px;
    background: #6d7fcc;
    color: #ffffff;
}
.sidebar .sidebar-header h3::before{
    content: 'Nilkeson';
    font-size: 25px;
    font-weight: 600;
    
}
.sidebar .sidebar-header h3.active::before{
    content: 'N';
}

.sidebar .ul{
    width: 100%;
    margin-top: 20px;
    list-style: none;
}
.sidebar .ul li.active{
    background-color: #5266be;
}
.sidebar.active ul{
    margin-top:15px;
}

.sidebar .ul li{
    position: relative;
    cursor: pointer;
}
.sidebar .ul li a{
    font-size: 17px;
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    line-height: 40px;
}
.sidebar.active ul li a{
    font-size: 0.80rem;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    line-height: normal;
    padding: 5px 10px;
}
.sidebar .ul li a:hover{
    background: #5266be;
    transition: 0.3s;
}
.sidebar .ul li .icon{
    margin-right: 10px;
}
.sidebar.active .ul li .icon{
    margin-right: 7px;
}

.title{
    margin-right: 10px;
}


.sidebar .ul li .ul-sub-menu-profile {
    background-color: #5266be;
    display: none;
    transition: 0.5s;
}
.sidebar .ul li .ul-sub-menu-profile.show{
    display: block;
}

.sidebar .ul li .ul-sub-menu-profile li a {
    padding-left: 80px;
    font-size: 14px;
}
.sidebar .ul li .ul-sub-menu-profile li a:hover {
    background-color: #FFF;
    color: #687acc;
}

/**********BUTÃO TOGGLE************/
.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 20px);
    right: -20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #ffffff; 
    background-color: #687acc;
}
.toggle::before {
    display: none;
}
.toggle::before{
    font-family: "Font Awesome 5 Solid";
    color: #FFF;
    content: '\f053';
}
.fa-chevron-right{
    color: #FFF;
}
.toggle.active::before{
    content: '\f054';
}

.fa-chevron-left {
    color: #FFF;
}

.toggle-profile #li-a::before{
    display: none;
}

.toggle-profile #li-a::before{
    font-family: "Font Awesome 5 Solid";
    content: '\f0dd';
}
.fa-sort-down{
    position: relative;
    left: 60px;
}

/*Conteudo*/
.content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    background: #f8f9fa;
    border: none;
    border-radius: 0;
    margin-bottom: 55px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
}
.navbar .container-fluid{
    font-size: 2em;
    font-weight: 600;
    color: #2196f3;
}

.area-buttons-filter{
    display: flex;
    width: 100%;
    height: 87px;
}
.area-buttons-filter .area-button-addCategoria{
    flex: 1;
}
.area-buttons-filter .area-filter-table{
    flex: 1;
}
.btn{
    padding: 6px 0;
    width: 145px;
    background-color: #0070ff;
    border: 0;
    border-color: #007bff;
    border-radius: 3px;
    color: #FFF;
    font-size: .90rem;
    cursor: pointer;
    transition: ease .3s;
}

.btn.btn-categoria{
    margin-left: 15px;
}
.btn.btn-categoria:hover{
    background-color: #0063ce;
    transition: ease .3s;
}
.area-filter-table{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}
.area-filter-table input{
    width: 190px;
    padding: 1px;
    font-size: .90rem;
}
.area-filter-table select{
    height: 30.3px;
    font-size: .90rem;
    margin-right: 15px;
}